{% extends 'home.html' %}

{% load static %}

{% block title %}
Bootcamp
{% endblock title %}

{% block body %}
<div>
    <div
        style="width: 40%; height: 500px;float: left; margin-left: 50px; font-size:30px; line-height:57px; margin-top:50px">
        <h1>6 months In-House</h1> 
        <h1>Bootcamp programme-</h1>
        <h1>HYD.</h1>
        <h1
            style="width: 35%; margin-top: 10px; background-color:rgba(141, 139, 139, 0.458); font-size:18px; text-align: center; border: 5px solid black; border-radius: 15px; float: left;">
            Starts on: 11 Nov 2024</h1>
        <h1
            style="width: 35%; margin-top: 10px; background-color:rgba(141, 139, 139, 0.458); font-size:18px; text-align: center; border: 5px solid black; border-radius: 15px; float: left; margin-left: 30px;">
            Placement Asistance 🗸</h1>
        <br><br>
        <h1>Price <spam style="color: #24cfa6;">59000/-</spam>
        </h1>
        <p style="font-size: 18px; margin-top:-15px;">[50000+18%Gst]</p>
        <p
            style="width: 35%; margin-top: 10px; color: whitesmoke; background-color:#24cfa6;; font-size:25px; text-align: center; border: 5px solid black; border-radius: 15px;">
            Seats Are Full</p>
    </div>
    <div style="width:50%; height:500px; float:left;">
        <iframe style="width:100%; height:470px; margin-top:50px"
            src="https://www.youtube.com/embed/pOGLAlGCKFE?si=lp4FPHtxYbr_4sj6?autoplay=1&vq=hd720"
            frameborder="0"></iframe>
    </div>
</div>
<div style="width: 100%; height: 500px;float: left; margin-left: 50px; font-size:50px; line-height:100px; margin-top:50px">
    <div>
        <h1>We believe in, <br> <span style="color:#24cfa6;">Consistancy.</span> No shortcuts.</h1>
    </div>
    <h1 style="width:20%; margin-top: 10px; background-color:rgba(141, 139, 139, 0.458); font-size:30px; text-align: center; border: 5px solid black; border-radius: 15px; float: left;">MERN Stack⚡</h1>
    <h1 style="width:40%; margin-top: 10px; margin-left: 40px; background-color:rgba(141, 139, 139, 0.458); font-size:30px; text-align: center; border: 5px solid black; border-radius: 15px; float: left;">Data Structures and Algorithm</h1>
    <h1 style="width:20%; margin-top: 10px; margin-left: 40px; background-color:rgba(141, 139, 139, 0.458); font-size:30px; text-align: center; border: 5px solid black; border-radius: 15px; float: left;">DBMS-SQL🤘</h1>
    <br>
    <h1 style="width:30%; margin-top: 10px; background-color:rgba(141, 139, 139, 0.458); font-size:30px; text-align: center; border: 5px solid black; border-radius: 15px; float: left;">CORE CS Subjects</h1>
    <h1 style="width:30%; margin-top: 10px; margin-left: 40px; background-color:rgba(141, 139, 139, 0.458); font-size:30px; text-align: center; border: 5px solid black; border-radius: 15px; float: left;">Placement Asistance💰</h1>    
</div>
<div style="width: 100%; height: 500px;float: left; margin-left: 50px; font-size:50px; line-height:200px; margin-top:50px">
    <h1 style="font-size:200px;">Non-Stop</h1>
    <h1 style="font-size:200px; color:#24cfa6;">5 Hours</h1>
    <h1 style="font-size:200px;">Coding <span style="font-size:60px;">[Everyday]</span></h1>
</div>

<div style="width: 100%; float: left; margin-left: 50px; font-size:30px; line-height:200px; margin-top:90px">
    <p>Monday To Saturday. 11:00 AM To 4:00PM</p>
</div>
<br><br><br><p style="text-align:center;">_______________________________________________________________________________________________________________________________________________________________________</p><br><br><br>
    <section>
        <div>
            <div style="margin-left:100px;">
                <h1>🦁</h1>
                <p style="font-size: 20px;">Let connect with <br> our socials</p>
            </div>
            <div style="margin-left:550px; margin-top: -110px;" >
                <h1>COMPANY</h1>
                <p style="font-size: 20px;">Aboutus <br>
                    Support <br>
                    Privacy Policy <br>
                    Terms and Condition <br>
                    Pricing and Refund <br>
                    Hire from us</p>
            </div>
            <div style="margin-left:950px; margin-top: -230px;">
                <h1>COMMUNITY</h1>
                <P style="font-size: 20px;">Inertia <br> Discord</P>
            </div>
            <div style="float: right; margin-right:100px; margin-top: -110px;;">
                <h1>Get In Touch</h1>
                <p style="font-size: 20px;">+91 9666480128 <br> +91 8919564562 <br> saipreetham9666@gmail.com <br> KPHB,JNTU,MIG-65, <br>HYD, 500361</p>
            </div><br><br><br><br>
        </div>
        </section>
        <section><br><br><p style="text-align:center;">_______________________________________________________________________________________________________________________________________________________________________</p>
            <br><br>
            <div>
                <p style="font-size: 20px; text-align: center;">Copyrights 2024 SaiPreetham pvt.ltd <br> All rights reserved</p>
            </div>
        </section><br><br><br>
{% endblock body %}

{% block css %}
<link href="{% static 'bootcamp.css' %}" rel="stylesheet">
{% endblock css %}